@import "tailwindcss";
@source "../node_modules/cronus-ui/dist/ui";

@layer base {
    * {
        box-sizing: border-box;
        min-width: 0;
        margin: 0;
    }

    ::-webkit-scrollbar {
        width: 0.5em;
        height: 1em;
    }

    ::-webkit-scrollbar-track {
        border-radius: 100vw;
        background: hsl(from black h s l / 40%);
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 100vw;
        background: gray;
    }

    html,
    body {
        scrollbar-width: none;
        font-family: "Ioskeley Mono", monospace;
        line-height: 1.5;
    }
}

@custom-variant dark (&:where(.dark, .dark *));
